<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .table-container {
            margin: 0 auto; /* Centra la tabla dentro de su contenedor */
        }

        table {
            width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
            border-collapse: collapse; /* Elimina espacios entre bordes de celdas */
        }

        th, td {
            padding: 8px; /* Espaciado interno de celdas */
            text-align: center; /* Alineación del texto */
        }

        tfoot th {
            background-color: #f8f9fa; /* Fondo para la fila de totales */
        }

        tfoot td {
            background-color: #e9ecef; /* Fondo para los datos de totales */
        }

        .btn-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Formulario -->
            <div class="form-container col-md-4">
                <form id="main-form" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="metric">Métrica de Cómputo:</label>
                        <select id="metric" name="metric" class="form-control" required>
                            <option value="rperf">rperf</option>
                            <option value="saps">saps</option>
                            <option value="spec">spec</option>
                            <option value="cpw">cpw</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione una métrica de cómputo.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="generation">Generación:</label>
                        <select id="generation" name="generation" class="form-control" required>
                            <option value="" disabled selected>Seleccione una generación</option>
                            {% for gen in generation %}
                                <option value="{{ gen[0] }}">{{ gen[0] }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione una generación.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="server">Server:</label>
                        <select id="server" name="server" class="form-control" required>
                            <option value="" disabled selected>Seleccione un server</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione un server.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cores">Cores:</label>
                        <select id="cores" name="cores" class="form-control" required>
                            <option value="" disabled selected>Seleccione cores</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione cores.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="percentage">% Utilización:</label>
                        <input type="number" id="percentage" name="percentage" class="form-control" required>
                        <div class="invalid-feedback">
                            Por favor, ingrese un porcentaje.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="percentage-column">Aplicar % a:</label>
                        <select id="percentage-column" name="percentage-column" class="form-control" required>
                            <option value="" disabled selected>Seleccione una columna</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione una columna.
                        </div>
                    </div>

                    <button type="button" id="add-button" class="btn btn-primary">Agregar</button>
                </form>

                <!-- Botones para limpiar y eliminar -->
                <div class="btn-container">
                    <button type="button" id="clear-table" class="btn btn-warning">Limpiar Tabla</button>
                    <button type="button" id="delete-row" class="btn btn-danger">Eliminar Fila Seleccionada</button>
                </div>
            </div>

            <!-- Tabla -->
            <div class="table-container col-md-8">
                <table id="configurations-table" class="table table-bordered">
                    <thead>
                        <tr id="table-headers">
                            <th>Generación</th>
                            <th>Server</th>
                            <th>Cores</th>
                            <th>Clock</th>
                            <th>Model</th>
                            <th>Type</th>
                            <th># Socket</th>
                            <th>Core per Socket</th>
                            <th>ST</th>
                            <th>SMT2</th>
                            <th>SMT4</th>
                            <th>SMT8</th>
                            <th>% Aplicado</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr id="total-row">
                            <th colspan="8">Total</th>
                            <!-- Las celdas de totales están inicialmente vacías -->
                            <th id="total-st" class="metric-total">0</th>
                            <th id="total-smt2" class="metric-total">0</th>
                            <th id="total-smt4" class="metric-total">0</th>
                            <th id="total-smt8" class="metric-total">0</th>
                            <th id="total-saps1" class="metric-total">0</th>
                            <th id="total-saps2" class="metric-total">0</th>
                            <th id="total-spec1" class="metric-total">0</th>
                            <th id="total-spec2" class="metric-total">0</th>
                            <th id="total-cpw" class="metric-total">0</th>
                            <th id="total-applied">0</th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>

    <script>
    function updateTotals() {
        let totalST = 0, totalSMT2 = 0, totalSMT4 = 0, totalSMT8 = 0;
        let totalSaps1 = 0, totalSaps2 = 0;
        let totalSpec1 = 0, totalSpec2 = 0;
        let totalCpw = 0, totalApplied = 0;

        $('#configurations-table tbody tr').each(function() {
            // Total por métricas
            totalST += parseInt($(this).find('td').eq(8).text()) || 0;
            totalSMT2 += parseInt($(this).find('td').eq(9).text()) || 0;
            totalSMT4 += parseInt($(this).find('td').eq(10).text()) || 0;
            totalSMT8 += parseInt($(this).find('td').eq(11).text()) || 0;

            totalSaps1 += parseFloat($(this).find('td').eq(9).text()) || 0;
            totalSaps2 += parseFloat($(this).find('td').eq(10).text()) || 0;

            totalSpec1 += parseFloat($(this).find('td').eq(9).text()) || 0;
            totalSpec2 += parseFloat($(this).find('td').eq(10).text()) || 0;

            totalCpw += parseFloat($(this).find('td').eq(9).text()) || 0;

            totalApplied += parseFloat($(this).find('td').eq(12).text()) || 0;
        });

        // Actualizar los valores del pie de tabla
        $('#total-st').text(totalST);
        $('#total-smt2').text(totalSMT2);
        $('#total-smt4').text(totalSMT4);
        $('#total-smt8').text(totalSMT8);

        $('#total-saps1').text(totalSaps1);
        $('#total-saps2').text(totalSaps2);

        $('#total-spec1').text(totalSpec1);
        $('#total-spec2').text(totalSpec2);

        $('#total-cpw').text(totalCpw);

        $('#total-applied').text(totalApplied.toFixed(2));
    }

        $(document).ready(function() {
          function updatePercentageOptions(metric) {
               const options = {
                   rperf: [
                       { value: 'ST', text: 'ST' },
                       { value: 'SMT2', text: 'SMT2' },
                       { value: 'SMT4', text: 'SMT4' },
                       { value: 'SMT8', text: 'SMT8' }
                   ],
                   saps: [
                       { value: 'SD-Bench SAPS', text: 'SD-Bench SAPS' },
                       { value: 'HANA-Prod SAPS', text: 'HANA-Prod SAPS' }
                   ],
                   spec: [
                       { value: 'SPECrate2017_int_peak', text: 'SPECrate2017_int_peak' },
                       { value: 'SPECrate2017_init_basek', text: 'SPECrate2017_init_basek' }
                   ],
                   cpw: [
                       { value: 'CPW', text: 'CPW' }
                   ]
               };

               const selectedOptions = options[metric] || [];
               const $percentageColumn = $('#percentage-column');
               $percentageColumn.empty();
               $percentageColumn.append('<option value="" disabled selected>Seleccione una columna</option>');

               selectedOptions.forEach(option => {
                   $percentageColumn.append(`<option value="${option.value}">${option.text}</option>`);
               });
           }
           $('#metric').change(function() {
               const selectedMetric = $(this).val();
               updatePercentageOptions(selectedMetric);
               updateTableHeaders(selectedMetric);
           });

            $('#generation').change(function() {
                var generation = $(this).val();
                $.ajax({
                    url: '/get_servers',
                    type: 'POST',
                    data: {generation: generation},
                    success: function(data) {
                        var $serverSelect = $('#server');
                        $serverSelect.empty();
                        $serverSelect.append('<option value="" disabled selected>Seleccione un server</option>');
                        $.each(data, function(index, value) {
                            $serverSelect.append('<option value="' + value[0] + '">' + value[0] + '</option>');
                        });
                    }
                });
            });

            $('#server').change(function() {
                var server = $(this).val();
                $.ajax({
                    url: '/get_cores',
                    type: 'POST',
                    data: {server: server},
                    success: function(data) {
                        var $coresSelect = $('#cores');
                        $coresSelect.empty();
                        $coresSelect.append('<option value="" disabled selected>Seleccione cores</option>');
                        $.each(data, function(index, value) {
                            $coresSelect.append('<option value="' + value[0] + '">' + value[0] + '</option>');
                        });
                    }
                });
            });

            $('#add-button').click(function() {
                var metric = $('#metric').val();
                var generation = $('#generation').val();
                var server = $('#server').val();
                var cores = $('#cores').val();
                var percentage = $('#percentage').val();
                var percentageColumn = $('#percentage-column').val();
                if (!metric || !generation || !server || !cores || !percentage) {
                    alert("Por favor complete todos los campos.");
                    return;
                }

                $.ajax({
                    url: '/get_metric_data',
                    type: 'POST',
                    data: {cores: cores, server: server, metric: metric},
                    success: function(data) {
                        if (data.length > 0) {
                            var clock = data[0].clock || '';
                            var model = data[0].model || '';
                            var type = data[0].type || '';
                            var socket = data[0].socket || '';
                            var corepersocket = data[0].corepersocket || '';
                            var sm = data[0].sm || '';
                            var smt2 = data[0].smt2 || '';
                            var smt4 = data[0].smt4 || '';
                            var smt8 = data[0].smt8 || '';

                            var appliedPercentage = 0;
                            if (percentageColumn === 'ST') {
                                appliedPercentage = (parseFloat(sm) * (parseFloat(percentage) / 100)).toFixed(2);
                            } else if (percentageColumn === 'SMT2') {
                                appliedPercentage = (parseFloat(smt2) * (parseFloat(percentage) / 100)).toFixed(2);
                            } else if (percentageColumn === 'SMT4') {
                                appliedPercentage = (parseFloat(smt4) * (parseFloat(percentage) / 100)).toFixed(2);
                            } else if (percentageColumn === 'SMT8') {
                                appliedPercentage = (parseFloat(smt8) * (parseFloat(percentage) / 100)).toFixed(2);
                            }

                            var newRow = `<tr>
                                <td>${generation}</td>
                                <td>${server}</td>
                                <td>${cores}</td>
                                <td>${clock}</td>
                                <td>${model}</td>
                                <td>${type}</td>
                                <td>${socket}</td>
                                <td>${corepersocket}</td>
                                <td>${sm}</td>
                                <td>${smt2}</td>
                                <td>${smt4}</td>
                                <td>${smt8}</td>
                                <td>${appliedPercentage}</td>
                                <td><input type="checkbox" class="row-checkbox"></td>
                            </tr>`;

                            $('#configurations-table tbody').append(newRow);
                            updateTotals();
                        } else {
                            alert("No se encontraron datos para las selecciones proporcionadas.");
                        }
                    }
                });
            });

            $('#clear-table').click(function() {
                $('#configurations-table tbody').empty();
                updateTotals();
            });

            $('#delete-row').click(function() {
                $('#configurations-table tbody input.row-checkbox:checked').closest('tr').remove();
                updateTotals();
            });

            function updateTableHeaders(selectedMetric) {
                var headers = {
                    rperf: ["Generación", "Server", "Cores", "Clock", "Model", "Type", "# Socket", "Core per Socket", "ST", "SMT2", "SMT4", "SMT8", "% Aplicado", "Seleccionar"],
                    saps: ["Generación", "Server", "Cores", "Clock", "Model", "Type", "# Socket", "Core per Socket", "SD-Bench SAPS", "HANA-Prod SAPS", "", "", "% Aplicado", "Seleccionar"],
                    spec: ["Generación", "Server", "Cores", "Clock", "Model", "Type", "# Socket", "Core per Socket", "SPECrate2017_int_peak", "SPECrate2017_init_basek", "", "", "% Aplicado", "Seleccionar"],
                    cpw: ["Generación", "Server", "Cores", "Clock", "Model", "Type", "# Socket", "Core per Socket", "CPW", "", "", "", "% Aplicado", "Seleccionar"]
                };

                var selectedHeaders = headers[selectedMetric] || headers.rperf;
                $('#table-headers').empty();
                selectedHeaders.forEach(function(header) {
                    if (header) {
                        $('#table-headers').append(`<th>${header}</th>`);
                    }
                });

                // Mostrar u ocultar las celdas del pie de tabla según la métrica
                $('.metric-total').hide();
                if (selectedMetric === 'rperf') {
                    $('#total-st').show();
                    $('#total-smt2').show();
                    $('#total-smt4').show();
                    $('#total-smt8').show();
                } else if (selectedMetric === 'saps') {
                    $('#total-saps1').show();
                    $('#total-saps2').show();
                } else if (selectedMetric === 'spec') {
                    $('#total-spec1').show();
                    $('#total-spec2').show();
                } else if (selectedMetric === 'cpw') {
                    $('#total-cpw').show();
                }

                updateTotals();
            }
        });
    </script>
</body>
</html>
